[submodule "busybox"]
	path = busybox
	url = git@github.com:mirror/busybox.git
[submodule "riscv-pk"]
	path = riscv-pk
	url = git@github.com:donggyukim/riscv-pk.git
[submodule "riscv-hpmcounters"]
	path = riscv-hpmcounters
	url = git@github.com:ccelio/riscv-hpmcounters.git
